@import "./color_schemes/dark";

$content-width: 1500px;
$link-color: #E9CFFF;
$nav-child-link-color: #F2E3FF;
$nav-width: 284px;
$nav-width-md: 268px;
$body-background-color: #1b1b1d;
$body-text-color: #e1eaef;
$body-heading-color: #e1eaef;
