@import "./color_schemes/dark";

$content-width: 1500px;
$link-color: #BBF9FF;
$nav-child-link-color: #E1FDFF;
$nav-width: 284px;
$nav-width-md: 268px;
$sidebar-color: #292C34;
$body-background-color: #24262B;
$body-text-color: #e9eff2;
$body-heading-color: #e9eff2;
