@import "./color_schemes/dark";

$link-color: #EBC3FF;
$nav-child-link-color: #F3DAFF;
$sidebar-color: #333333;
$body-background-color: #222222;
$body-text-color: #e6e6e6;
$body-heading-color: #FFFFFF;
$content-width: 950px;
$code-background-color: #462B53;


