@import "./color_schemes/dark";

$link-color: #FFC4FF;
$nav-child-link-color: #FFE4FF;
$sidebar-color: #333639;
$body-background-color: #292B2E;
$body-text-color: #FFFFFF;
$body-heading-color: #FFFFFF;
$content-width: 950px;


