
<table border="1">
<tr bgcolor="#205081" height="156">
<td colspan="2">
<img src="https://ultimateskyrim.atlassian.net/jira-logo-scaled.png" width="1470" height="156" border="0" alt="Known Issues (Jira)">
</td>
</tr>
<tr>
<td colspan="2">
<a href="https://ultimateskyrim.atlassian.net/issues/?filter=10025">Known Issues (Jira)</a>
</td>
</tr>
</table>

<a class="btn btn-pink" href="https://airtable.com/shrNTTdjXGuuBU9HQ" target="_blank" rel="noopener noreferrer">View on Airtable <svg viewBox="0 0 24 24" aria-labelledby="svg-external-link-title" width="1em" height="1em"><use xlink:href="#svg-external-link"></use></svg></a>

<iframe class="airtable-embed" src="https://airtable.com/embed/shrNTTdjXGuuBU9HQ?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>



